
.box-projects{
  padding: 10px;
  @media(max-width:750px){
    padding: 10px 5px;
  }
}
.snip1323 {
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  color: #ffffff;
  text-align: center;
  border: 2px solid #03B282;
  margin: auto;;
  @media(max-width:750px){
    min-width: 200px;
  }
}
.snip1323 * {
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
  // -webkit-transition: all 0.35s 0.5s ease;
  // transition: all 0.35s 0.5s ease;
}
.snip1323 img {
  width: 100%;
  height: 200px;
  // vertical-align: top;
}
.snip1323 figcaption {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.snip1323 h2 {
  position: absolute;
  margin: 0;
  width: 100%;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  left: 0;
  top: 50%;
  opacity: 0;
  padding: 0 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.snip1323:before {
  position: absolute;
  bottom: 0;
  right: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: #03B282;
  z-index: 1;
  opacity: 0.4;
  -webkit-transition: all 0.35s 0.3s ease-in;
  transition: all 0.35s 0.3s ease-in;
}
.snip1323:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 200px 0;
  border-color: transparent #03B282 transparent transparent;
  opacity: 0.9;
  // -webkit-transition: all 0.35s 0s ease-out;
  // transition: all 0.35s 0s ease-out;
}
.snip1323:hover img,
.snip1323.hover img {
  opacity: 0.3;
}
.snip1323:hover h2,
.snip1323.hover h2,
{
  opacity: 1;
}
.snip1323:hover h2,
.snip1323.hover h2 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.snip1323:hover:before,
.snip1323.hover:before {
  right: 0;
  -webkit-transition: all 0.35s 0s ease-out;
  transition: all 0.35s 0s ease-out;
}
.snip1323:hover:after,
.snip1323.hover:after {
  left: 50%;
  -webkit-transition: all 0.35s 0.2s ease-in;
  transition: all 0.35s 0.2s ease-in;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff;
}
