doctype html
html(lang="en")
	include ci/link.jade
	#page-top
	body(data-spy="scroll" data-target=".navbar-fixed-top")
		.header.navbar-fixed-top
			.container
				include ci/menu.jade
		.hero-section
			.oscuro
				.container.text-center
					img(src="image/logo1.png")
					.row.menu.hidden-xs
						include ci/centro.jade
		.about#about
			.container
				.row
					h1.text-center SOBRE MÍ
					.col-md-6.text-center.pd10
						p.text-center
							strong Hola
						p.type-it.text-center.texto 
					.col-md-6.text-center.pd10
						img(src="image/foto2.jpg") 			
		.cintillo
			.container
				.row.text-center
					p.two 
						span#skills ----------"No hay éxito, sin trabajo"---------
		.skill
			.container
				h1.text-center HABILIDADES
				include ci/skill.jade
		p#projects
		.proyects
			.container
				.row.text-center
					h1 PROYECTOS
					include ci/proyectos.jade
		.contact#contact
			.oscuro
				.container
					.row.text-center
						h1 CONTACTO
						p mfernandez.a25@gmail.com
						p 974314448 / 970879089
					.row.caja.text-center
						a(target="_blank", href="mailto:mfernandez.a25@gmail.com")
							img(src="image/gmail.png")
						a(target="_blank",href="https://github.com/Mfernandez25")
							img(src="image/github.png")
						a(target="_blank",href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button")
							img(src="image/pinterest.png")
		.footer
			.container.text-center
				p
					span.fa.fa-copyright   Merle Fernández Ancalla | 2016
