Doctype 
	head
		include ci/link.jade
	body
		.header
			.container
				include ci/menu.jade
		.hero-section
			.container.text-center
				img(src="image/logo1.png")
				.row.menu
					include ci/centro.jade
				.p#about
		.about
			.container
				.row
					h1.text-center SOBRE MI
					.col-md-6
							p.text-center Hola
							p.text-center Soy Merle,desarrolladora web y relacionista pública. Creativa, perseverante y responsable. Me gusta estar en constante aprendizaje, dar soluciones creativas y trabajar en equipo. 
					.col-md-6
						img(src="image/iabout.png")
		.cintillo
			.container
				.row.text-center
					p.two 
						span#skills ----------"No hay éxito, sin trabajo"---------
		.skill
			.container
				h1.text-center SKILL
				include ci/skill.jade
		.proyects#projects
			.container
				.row.text-center
					h1 PROYECTOS
					include ci/proyectos.jade
		.contact#contact
			.container
				.row.text-center
					h1 CONTACTO
					p mfernandez.a25@gmail.com
					p 974314448 / 970879089
				.row.caja.text-center
					a(href="")
						img(src="image/gmail.png")
					a(href="")
						img(src="image/github.png")
					a(href="")
						img(src="image/pinterest.png")
