Doctype 
	head
		include ci/link.jade
	body
		.header
			.container
		include ci/prueba.jade
		.hero-section
			.container.text-center
				img(src="image/logo1.png")
				.row.menu
					include ci/centro.jade
		.about
			.container
				.row
					h1.text-center SOBRE MI
					.col-md-6
							p.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio enim minus, officiis, nisi aliquam architecto itaque qui tempora facilis autem nam sint natus. Minus officia, quo nobis. Quidem, tenetur distinctio.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quos autem nemo fuga ab perferendis quisquam delectus at ipsam enim saepe magni nihil molestiae, vero quia dolore porro animi ullam.
					.col-md-6
						img(src="image/iabout.png")
		.skill
			.container
				h1.text-center SKILL
				include ci/skill.jade
		.proyects
			.container
				.row.text-center
					h1 PROYECTOS
					include ci/proyectos.jade
		.contact
			.container
				.row.text-center
					h1 CONTACTO
					p mfernandez.a25@gmail.com
					p 974314448 / 970879089
				.row.caja.text-center
					a(href="")
						img(src="image/gmail.png")
					a(href="")
						img(src="image/github.png")
					a(href="")
						img(src="image/pinterest.png")
