ul.text-center.list-unstyle.list-inline
  li.hidden
    a(href="#")
  li
    a(href="#about") SOBRE MÍ
  li
    a(href="#skills") HABILIDADES
  li
    a(href="#projects") PROYECTOS
  li
    a(href="#contact") CONTACTO
