ul.text-center.list-unstyle.list-inline
  li.hidden
    a.page-scroll(href="#")
  li
    a.page-scroll(href="#about") SOBRE MÍ
  li
    a.page-scroll(href="#skills") HABILIDADES
  li
    a.page-scroll(href="#projects") PROYECTOS
  li
    a.page-scroll(href="#contact") CONTACTO
