.row.menu
			nav.navbar.navbar-custom.navbar-fixed-top.text-center
				.navbar-header
					button.navbar-toggle.collapsed(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#navbar")
						i 
				.collapse.navbar-collapse#navbar
					ul.nav.navbar-nav.text-center
						li.hidden
							a(href="#")
						li
							a(href="#") ABOUT
						li
							a(href="#") SKILLS
						li
							a(href="#") PROJECTS
						li
							a(href="#") CONTACT
				
				
