.row.menu-list
			nav.navbar.navbar-custom.navbar-fixed-top.text-center
				.navbar-header
					button.navbar-toggle.collapsed(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#navbar")
						i MENU
				.collapse.navbar-collapse#navbar
					ul.nav.navbar-nav.text-center.text-center
						li.hidden
							a(href="#")
						li
							a(href="#about") ABOUT
						li
							a(href="#skills") SKILLS
						li
							a(href="#projects") PROJECTS
						li
							a(href="#contact") CONTACT
				
				
