.row.menu-list
	nav.navbar.navbar-custom.navbar-fixed-top.text-center
		.navbar-header
			button.navbar-toggle.collapsed(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#navbar")
					i MENU
		.collapse.navbar-collapse#navbar
			ul.nav.navbar-nav.navbar-right
				li.hidden
					a(href="#")
				li		
					a(href="#about") SOBRE MI
				li
					a(href="#skills") HABILIDADES
				li
					a(href="#projects") PROYECTOS
				li
					a(href="#contact") CONTACTO
		
				
