.col-md-4.box-projects
  figure.snip1091.red
     img(src='image/d4.PNG')
     figcaption
       h2
         | Escuela de Danza
     a(target="_blank", href='http://mfernandez25.github.io/labescueladedanza.github.io/')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d5.PNG')
     figcaption
       h2
         | E-Comunidad
     a(target="_blank", href='http://mfernandez25.github.io/labecomunidad.github.io/.')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d5.PNG')
     figcaption
       h2
         |La República
     a(target="_blank", href='http://mfernandez25.github.io/lablarepublica.github.io/')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d9.PNG')
     figcaption
       h2
         | Primes Themes
     a(target="_blank", href='http://mfernandez25.github.io/labprimesthemes.github.io/.')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d8.PNG')
     figcaption
       h2
         | Cips
     a(target="_blank", href='http://mfernandez25.github.io/labcips.github.io/.')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d7.PNG')
     figcaption
       h2
         | Agency Theme
     a(href='#')
