.col-md-4.box-projects
  figure.snip1091.red
     img(src='image/d4.PNG')
     figcaption
       h2
         | Escuela de Danza
     a(href='#')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d5.PNG')
     figcaption
       h2
         | E-Comunidad
     a(href='#')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d5.PNG')
     figcaption
       h2
         |La República
     a(href='#')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d9.PNG')
     figcaption
       h2
         | Primes Themes
     a(href='#')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d8.PNG')
     figcaption
       h2
         | Cips
     a(href='#')
.col-md-4.box-projects
   figure.snip1091.navy
     img(src='image/d7.PNG')
     figcaption
       h2
         | Carmen  
         span Glenn
     a(href='#')
