.col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura1.PNG')
    figcaption
      h2  
        a(target="_blank", href='http://mfernandez25.github.io/labescueladedanza.github.io/') Escuela de Danza
.col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura2.jpg')
    figcaption
      h2 
        a(target="_blank", href='http://mfernandez25.github.io/labecomunidad.github.io/.') E-Comunidad
.col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura3.jpg')
    figcaption
    h2 
      a(target="_blank", href='http://mfernandez25.github.io/lablarepublica.github.io/') La República
.col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura4.jpg')
    figcaption
      h2 
        a(target="_blank", href='http://mfernandez25.github.io/labprimesthemes.github.io/.') Primes Themes
.col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura5.jpg')
    figcaption
      h2 
      a(target="_blank", href='http://mfernandez25.github.io/labcips.github.io/.') Cips
 .col-md-4.box-projects  
  figure.snip1323
    img(src='image/Captura2.jpg')
    figcaption
      h2 Agency Theme
