section.intro
  .intro-block
      .centerfold-wrap
        .col-md-6
          .hex-master-wrap
            .grid-1
              .hex-wrap.backend(data-title='WORDPRESS', data-content='backend-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logowordpress.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.frontend(data-title='HTML', data-content='frontend-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logohtml.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
            .grid-2
              .hex-wrap.html(data-title='SASS', data-content='html-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logosass.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.css(data-title='SASS', data-content='css-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logomain.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.jquery(data-title='CSS3', data-content='javascript-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logocss.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
            .grid-3
              .hex-wrap.gui(data-title='JADE', data-content='gui-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logojade.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.seo(data-title='JAVASCRIPT', data-content='seo-desc', data-color='#FFF')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img.img(src='image/logojs.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
        .col-md-6  
          .code-display
            .code-description
              .backend-desc
                p.code-title
                P.texto.text-justify 
                img.iwordpress.res(src="image/iboos.png")
                .code-icon
              .frontend-desc
                p.code-title
                P.texto.text-justify  Desarrollo de sitios web responsive que permiten al usuario experimentar su sitio web en ciualquier disposivo que estén utilizando.

                img.iwordpress.pull-right(src="image/ihtml.png")
                .code-icon
              .html-desc
                p.code-title
                P.texto.text-justify  
                .code-icon
                img.iwordpress.pull-right(src="image/isass.png")
              .css-desc
                img.iwordpress(src="image/imain.png")
                .code-icon
              .javascript-desc
                p.code-title
                P.texto.text-justify  
                img.iwordpress.res(src="image/icss.png")
                .code-icon
              .gui-desc
                p.code-title
                P.texto.text-justify  
                img.iwordpress.pull-right(src="image/ijade.png")
                .code-icon
              .seo-desc
                p.code-title
                P.texto.text-justify  
                img.iwordpress.pull-right(src="image/ijava.png")
                .code-icon
        // End Centerfold-Wrap
