section.intro
  .intro-block
      .centerfold-wrap
        .col-md-6
          .hex-master-wrap
            .grid-1
              .hex-wrap.backend(data-title='HTML', data-content='backend-desc', data-color='#333333')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logowordpress.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.frontend(data-title='HTML', data-content='frontend-desc', data-color='#16A085')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logohtml.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
            .grid-2
              .hex-wrap.html(data-title='SASS', data-content='html-desc', data-color='#E34C26')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logosass.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.css(data-title='SASS', data-content='css-desc', data-color='#0083de')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logomain.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.jquery(data-title='CSS3', data-content='javascript-desc', data-color='#8cc84b')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logocss.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
            .grid-3
              .hex-wrap.gui(data-title='JADE', data-content='gui-desc', data-color='#2C3E52')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logojade.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
              .hex-wrap.seo(data-title='JAVASCRIPT', data-content='seo-desc', data-color='#C0392B')
                .hex-init
                .hex-borders
                  .border-1
                  .border-2
                  .border-3
                .label
                  img(src='image/logojs.png')
                .hexagon
                  .hex-inner-1
                    .hex-inner-2
        .col-md-6  
          .code-display
            .code-description
              .backend-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                img.iwordpress(src="image/iboos.png")
                .code-icon
              .frontend-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                img.pull-right(src="image/ihtml.png")
                .code-icon
              .html-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                .code-icon
                img.pull-right(src="image/isass.png")
              .css-desc
                img.pull-right(src="image/imain.png")
                .code-icon
              .javascript-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                img.iwordpress(src="image/icss.png")
                .code-icon
              .gui-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                img.pull-right(src="image/ijade.png")
                .code-icon
              .seo-desc
                p.code-title
                P.texto.text-justify  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ad dolorum nam incidunt! Animi ratione tenetur dolorem natus minima consequuntur atque nisi, minus eveniet officiis dolore voluptate voluptas, quaerat, eos.
                img.pull-right(src="image/ijava.png")
                .code-icon
          .hoverblock
        // End Centerfold-Wrap
